@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #52edf6;
  width: 0.1rem;
  border-radius: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Poppins", sans-serif;
}

.nav-buttons {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}
